.tech__name {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #ffffff;
}

@media all and (max-width: 690px) {
  .tech__name {
    font-size: 12px;
    line-height: 15px;
  }
}
