.card__close-button {
  display: none;
  background-image: url(../../../images/close-movie.svg);
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0);
  background-size: 14px 12px;
  padding: 0;
  margin: 0;
  border-radius: 36px;
  border-width: 0;
  margin-right: 17px;
  cursor: pointer;
}
