.footer__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-width: 2px;
  border-color: #424242;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

@media all and (max-width: 425px) {
    .footer__container {
        flex-direction: column-reverse;
    }
}