.search__button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background: #4285f4;
  border-radius: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  width: 58px;
  height: 34px;
  margin: 0;
  margin-bottom: 15px;
  cursor: pointer;
}

.search__button:hover {
  opacity: 0.8;
}
