.profile__edit {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  margin-top: 220px;
  margin-bottom: 16px;
  padding: 0;
  cursor: pointer;
}

@media all and (max-width: 435px) {
  .profile__edit {
    margin-top: 380px;
  }
}
