.profile__hello {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-bottom: 120px;
  margin-top: 75px;
}

@media all and (max-width: 435px) {
    .profile__hello {
        margin-bottom: 80px;
        margin-top: 70px;
    }
}