.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #202020;
    padding-top: 90px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
}

@media all and (max-width: 885px) {
    .footer {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  
  @media all and (max-width: 767px) {
    .footer {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media all and (max-width: 590px) {
    .footer {
      padding-left: 10px;
      padding-right: 10px;
    }
  }