.card__box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 17px;
    margin-bottom: 17px;
}

@media all and (max-width: 425px) {
    .card__box {
        margin-bottom: 0px;
    }
}