.portfolio__work-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-decoration: none;
  margin-bottom: 20px;
  color: #ffffff;
}

.portfolio__work-link:hover {
  text-decoration: underline;
}

@media all and (max-width: 885px) {
  .portfolio__work-link {
    font-size: 28px;
  }
}

@media all and (max-width: 590px) {
  .portfolio__work-link {
    font-size: 18px;
    line-height: 28px;
  }
}