.about-project__language {
  font-family: Suisse Intl;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
  margin-bottom: 0;
}

@media all and (max-width: 400px) {
  .about-project__language {
    font-size: 11px;
    line-height: 13px;
  }
}
