.tech__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin-top: 90px;
  margin-left: 70px;
}

@media all and (max-width: 768px) {
    .tech__title {
        margin-left: 50px;
    }
}

@media all and (max-width: 376px) {
    .tech__title {
      margin-left: 18px;
    }
  }
  