.header__sign-in {
  background: #3ddc84;
  border-radius: 3px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #000000;
  border: none;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
}

@media all and (max-width: 425px) {
  .header__sign-in {
    font-size: 10px;
  }
}
