.register__label {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin-bottom: 10px;
  margin-top: 20px;
}

.label-name#label-name {
  margin-top: 0px;
}