.about-me__image {
  object-fit: cover;
  border-radius: 10px;
  grid-row: 1/3;
  grid-column: 2/2;
  justify-self: flex-end;
  align-self: center;
}

@media all and (max-width: 885px) {
  .about-me__image {
    height: 307px;
  }
}

@media all and (max-width: 700px) {
  .about-me__image {
    height: 250px;
  }
}

@media all and (max-width: 635px) {
  .about-me__image {
    height: 200px;
    width: 200px;
  }
}

@media all and (max-width: 590px) {
  .about-me__image {
      grid-row: 1/1;
      grid-column: 1/1;
      justify-self: flex-start;
      width: 292px;
      height: 352px;
  }
}

@media all and (max-width: 320px) {
  .about-me__image {
      justify-self: center;
  }
}