.about-me__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

.about-me__link#git {
    margin-right: 0;
}

.about-me__link:hover {
    text-decoration: underline;
}